* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
body {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
header {
    padding: 30px;
}
.title, .section-main, section {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(229, 49, 112);
    font-weight: 800;
    text-align: center;
}
main {
    padding-bottom: 30px;
    box-sizing: border-box;
}
.section-main {
    text-align: center;
}
.first-container {
    background-color: yellow;
}
img {
    height: 100px;
}

.box {
    box-sizing: content-box;
    background-color: black;
    color: white;
    margin: 10px;
    width: 30%;
    height: 100px;
}
.name{
    font-weight: bolder;
}
.email {
    color: rgb(0, 84, 189);
}
.pic, .text-box, .box {
    float: left;
}
.text-box {
    padding: 15px;
}
